[Unit]
Description=Go Scrobble
After=network.target

[Service]
Type=simple
User=www-data
ExecStart=/opt/goscrobble/goscrobble
Restart=on-failure

[Install]
WantedBy=multi-user.target
