[Unit]
Description=Go Scrobble
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash -c 'cd /var/www/goscrobble-api && ./goscrobble'
Restart=on-failure

[Install]
WantedBy=multi-user.target
