.navLink {
    padding: 0 15px 0 15px;
    color: #CCCCCC;
}

.navLinkMobile {
    color: #CCCCCC;
}

.navLink:hover {
    color: #666666;
    text-decoration: none;
}

.navLinkMobile:hover {
    color: #666666;
    text-decoration: none;
}

.navLinkLogin {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #282c34;
}

.navLinkLoginMobile {
    margin: 0 auto 0 auto;
    padding: 10px;
    text-align: center;
}

.nav-logo {
    height: 50px;
    margin: -15px 5px -15px -5px;
}