.navLink {
    padding: 0 15px 0 15px;
    color: #CCCCCC;
}

.navLink:hover {
    color: #666666;
    text-decoration: none;
}

.navLinkLogin {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #282c34;
}